<section>
	<table
		<tr>
			<th><img data-gesture='rock' src="images/rock.png", width="120"></th>
			<th><img data-gesture='paper' src="images/paper.png", width="120"></th>
			<th><img data-gesture='scissors' src="images/sissors-02.png", width="120"></th>
			<th><img data-gesture='lizard' src="images/lizard.png", width="120"></th>
			<th><img data-gesture='spock' src="images/spock.png", width="120"></th>
		</tr>
	</table>
</section>


