<!DOCTYPE HTML>
<html>

<head>

	<title>Rock Paper Scissors</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

<section> 
	<h4>Welcome to Rock Paper Scissors Lizard Spock. Built for Week 6 Javascript Practice</h4>
</section>

<h1>Rock / Paper / Scissors / Lizard / Spock</h1>

<h2>Make your pick:</h2>

<%=yield %>

<script src="jquery/jquery-2.1.1.js"></script>
<script type="text/javascript" src="src/javarock.js"></script>
<script type="text/javascript" src="src/game.js"></script>

<h3 id="result"></h3>


</body>

</html>                   
